@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,500;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    font-family: 'Open Sans',sans-serif
}

.container-banner{
    position: relative;
    display: inline-block;
    text-align: center;
}

.banner{
    min-height:450px ;
    max-height:800px ;
    object-fit: cover;
}

.container-banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-banner-1{
color: #D2D3DC;
font-family: 'Open Sans';
font-weight: 600;
font-size: 48px;

}
.text-banner-2{
max-width: 956px;
max-height: 116px;
font-family: 'Open Sans';
font-weight: 400;
font-size: 18px; text-shadow: .5px 1px 1px #161414;

}
.text-banner-3{
    width: fit-content;
    min-width: 768px;
    max-height: auto;
    font-family: 'Open Sans';
font-weight: 300;
font-size: 17px; text-shadow: .5px 1px 1px #161414;
}

.section-cards-products{
    background-color: #F2F4F7;
}

.cards-product-title{
    color: #1D2351;
font-family: 'Open Sans';
font-weight: 500;
font-size: 32px;
}

.cards-product-text {
    color: #353535;
font-family: 'Open Sans';
font-weight: 400;
font-size: 18px;
}

.card-product{
    width: 348px;
    height: 406px;
    padding: 24px 30px 30px;
}

.card-title{
    color: #1D2351;
font-family: 'Open Sans';
font-weight: 700;
font-size: 20px;
}

.card-text{
    color: #353535;
font-family: 'Open Sans';
font-weight: 400;
font-size: 16px;
}

.footer-card{
    border: none;
    background-color: #FFFFFF;
    text-decoration: underline;
    text-decoration: none;
}

.text-body-secondary{
    color: #3366FF !important;
    text-decoration: none;
font-family: 'Open Sans';
font-weight: 400;
font-size: 16px;
}
.text-body-secondary:hover{
    color: #2952CC !important;
}

.clients-section{
    min-height: 750px;
    width: auto;
}

.title-carousel{
    color: #1D2351;
font-family: 'Open Sans';
font-weight: 700;
font-size: 48px;
}

.woman-img{
    width: fit-content;
    height: auto;
    max-width: 50vw;
    max-height: 50vh;
    object-fit: cover;
    object-position: center;
}

.carouselSize{
    height: auto;
min-height: 600px;
}

.card-carousel{
    max-width: 162px;
    max-height: 80px;
}

.carouselClients{
    height: 400px;
    width:800px ;

}
.client-img{
    min-width: 150px;
    min-height: 80px;
    
    background-color: #E9E9E9;
}

.carousel-item{
    object-fit: scale-down;
    max-height: 400px ;
 
}

#carouselCircule [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px; 
    height: 10px;
    padding: 0;
    margin-right: 30px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #161414;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 100%;
}
#carouselCircule [data-bs-target]:last-child {
    margin-right: 0px;
}
#carouselCircule{
    max-width: 150px;
}

.request-demo{
    max-height: 100px;
}

.test-btn{
    width:180px ;
    height: 55px;
    border-radius: 4px;
font-family: 'Open Sans';
font-weight: 400;
font-size: 16px;
    
}

footer{
    background-color:#F2F4F7 ;
    color: #353535;
    height: 80px;
    font-family: 'Open Sans';
font-weight: 400;
font-size: 13px;
    
}

.links-footer{
    color: #353535;
    text-decoration: none;
}
.links-footer:hover{
    color: #0a0a0a;
    text-decoration: none;
}

@media screen and (max-width:1023px){
    .client-img{
        min-width: 80px;
        min-height: 80px;
        
        background-color: #E9E9E9;
    }
    

    .woman-img{
        max-width: 43vw;
        max-height: 43vh;
        
    }
}

@media screen and (max-width:768px){
    
    .card-product{
        width: 300px;
        height: 350px;
        padding: 0 0 10px 0 ;
       
    }
    
    .client-img{
        min-width: 50px;
        min-height: 50px;
        
        background-color: #E9E9E9;
    }

    .woman-img{
        max-width: 80vw;
        max-height: 80vh;
        
    }

    .carousel-item{
        object-fit: scale-down;
        max-height: 400px ;
     margin-left: 7%;
    }
}

@media screen and (max-width:500px){
    
    .container-banner-text{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .carousel-item{
        object-fit: scale-down;
        max-height: 400px ;
     margin-left: 2.7%;
    }

    .client-img{
        min-width: 45px;
        min-height: 45px;
    }
}


